[Unit]
Description={{ app.name }}
After=network.target

[Service]
Type=simple
User={{ app.user }}
WorkingDirectory={{ app.directory }}
ExecStart=/usr/local/bin/bundle exec rails s -e production -p {{ app.port }}
Environment="RAILS_SERVE_STATIC_FILES=true"
Environment="EXECJS_RUNTIME=Disabled"
Environment="SECRET_KEY_BASE={{ app.master_key }}"
Environment="RAILS_ENV=production"
Environment="PROD_DATABASE_USERNAME={{ postgresql.user }}"
Environment="PROD_DATABASE_PASSWORD={{ postgresql.password }}"
Environment="PROD_DATABASE_NAME={{ postgresql.database }}"
Environment="PROD_DATABASE_HOST={{ postgresql.host }}"
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
